---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			I run <a href="https://velvetlab.tech">VelvetLab</a>, an IT consulting company and I'm CTO at <a
				href="https://fourgreen.it">Fourgreen</a
			>, a carbon footprint startup.
		</p>
	</div>
</PageLayout>
