---
import { Image } from "astro:assets";

import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import profilePicture from "@/assets/profile.jpeg";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section class="flex flex-col items-end gap-16 md:flex-row">
		<div class="flex-grow">
			<h1 class="title mb-6">Hey there, I'm Luca!</h1>
			<p class="mb-4">
				I run <a href="https://velvetlab.tech" class="cactus-link">VelvetLab</a>, an IT consulting company and I'm CTO
				at <a href="https://fourgreen.it" class="cactus-link">Fourgreen</a>, a carbon footprint startup.
			</p>
			<SocialList />
		</div>

		<div class="w-full flex-shrink-0 overflow-hidden rounded-xl grayscale-[60%] sm:w-48">
			<Image
				alt="Profile picture"
				class="w-full object-cover"
				fetchpriority="high"
				loading="eager"
				src={profilePicture}
			/>
		</div>
	</section>

	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Latests posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
